appdirs==1.4.4
attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
config==0.5.0.post0
databases==0.5.2
distlib==0.3.2
Django==2.2
django-phonenumber-field==5.2.0
filelock==3.0.12
filesystems==0.26.0
Flask==1.1.2
greenlet==1.1.2
homoglyphs==2.0.4
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.2
loguru==0.5.3
MarkupSafe==2.0.1
packaging==21.0
pathlib==1.0.1
phonenumbers==8.12.35
platformdirs==2.3.0
pygame==2.0.1
PyMySQL==1.0.2
pyparsing==2.4.7
pyrsistent==0.18.0
pyTelegramBotAPI==4.0.0
python-dotenv==0.19.0
pytz==2021.1
requests==2.26.0
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.25
sqlparse==0.4.2
toml==0.10.2
tomlkit==0.7.2
tqdm==4.62.2
urllib3==1.26.6
venvs==7.1.2
virtualenv==20.7.2
Werkzeug==2.0.2
win32-setctime==1.0.3
zope.interface==5.4.0
